:root {
    --main-color: #0166CC;
    --header-side-margin: 2rem;
    --page-width: 80%;
    --header-height: 19px;
    --header-font-size: 16px;
    --header-font-color: #141923;
    --font-color: white;
    --main-margin-top: 40px;
    --title-font-size: 52px;
    --title-font-color: #161823;
}
    /* 
    utililser l'élément déclaré dans root 
    margin: var(--header-side-margin);
    */


/* GENERAL */


body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}



/* HEADER */

.header {
    /* width: var(--page-width);
    height: var(--header-height);
    font-size: var(--header-font-size);
    margin: auto; */
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav-ul {
    font-size: 16px;
    color: var(--header-font-color);
    display: flex;
    margin-top: var(--main-margin-top);
    margin-right: 56px;
    margin-left: 56px;
}

.nav-ul__li a {
    text-align: end;
    margin-left: 52px;
}

.img-logo {
    height: 60px;
    width: 60px;
    margin-top: var(--main-margin-top);
    margin-left: 50%;
    transform: translateX(-50%);
}

/* MAIN */

main {
    /* margin: var(--main-margin-top) 0 0 0; */
    width: var(--page-width);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    text-align: center;
}

.slogan__catchphrase {
    box-sizing: content-box;
    width: 1270px;
    /* width: 100%; */
    font-size: 52px;
    font-weight: bold;
    /* letter-spacing: -1px; */
    color: var(--title-font-color);
}

.slogan__description {
    color: rgb(38, 41, 60, 0.6);
    font-size: 30px;
    margin-top: var(--main-margin-top);
    width: 880px;
    margin-right: auto;
    margin-left: auto;
    line-height: 39px;
    text-align: center;
}

.btn {
    margin-top: var(--main-margin-top);
    background-color: var(--main-color);
    color: white;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    transition: 0.2s;
    border: 2px solid var(--main-color);
}

.btn:hover {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    transition: 0.2s;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.96);
    font-weight: bold;
    border: 3px solid var(--main-color);
}

.btn-devis {
    /* margin-top: var(--main-margin-top); */
    /* width: 40%; */
    /* max-width: 250px; */
}

.slogan__img {
    margin-top: 44px;
    width: 940px;
    object-fit: cover;
}

/* part 1 */

.sections {
    /* margin-top: var(--main-margin-top); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-one {
    margin-top: 84px;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
}

.section-one__description {
    margin-top: var(--main-margin-top);
    width: 956px;
    line-height: 40px;
}


.working-method {
    /* display: flex; */
}







/* FOOTER */