:root {
    --main-color: #0166CC;
    --header-side-margin: 2rem;
    --page-width: 90%;
    --header-height: 5rem;
    --header-font-size: 16px;
    --header-font-color: #141923;
    --font-color: white;
    --main-margin-top: 2.2rem;
    --title-font-size: 2rem;
}
    /* 
    utililser l'élément déclaré dans root 
    margin: var(--header-side-margin);
    */


/* GENERAL */


body {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
}



/* HEADER */

.header {
    width: var(--page-width);
    height: var(--header-height);
    font-size: var(--header-font-size);
    margin: auto;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__nav-ul {
    margin-top: var(--main-margin-top);
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.nav-ul__li a {
    text-align: center;
    /* display: flex;
    justify-content: space-between; */
}

.img-logo {
    height: 40px;
    width: 40px;
    /* display: grid;
    place-content: center; */
    margin-top: var(--main-margin-top);
}

/* MAIN */

main {
    margin: var(--main-margin-top) 0 0 0;
    display: flex;
    flex-direction: column;
}

.slogan {
    margin-top: var(--main-margin-top);
    border: 2px solid black;
    text-align: center;
}

.slogan__catchphrase {
    font-weight: bold;
    font-family: 'Roboto';
    font-size: var(--title-font-size);
}










/* FOOTER */